.media.panel
  .media-left
    = link_to image_tag(cheep.user.profile_photo), cheep.user
    = render 'follow_logic', user: cheep.user
  .media-body
    = rendered_cheep(cheep)
    %p.meta
      #{link_to cheep.user.username, cheep.user} at #{link_to cheep.created_at.localtime.to_s(:long), user_cheep_path(cheep.user, cheep, format: 'js'), data: {toggle: 'modal', target: "#cheep_modal_#{cheep.id}", remote: false}}
- unless defined? no_modal
  = render partial: 'cheep', layout: 'modal_wrapper', locals: {id: "cheep_modal_#{cheep.id}", cheep: cheep, title: 'Cheep', no_modal: true}
