= render 'shared/search_form', type: 'cheeps'

= render @cheeps

= paginate @cheeps

- content_for :sidebar do
  - if current_user
    = render 'shared/logged_in_sidebar', user: current_user
  - else
    = render 'shared/logged_out_sidebar'
