<h1><%= @movie.title %></h1>

<%= simple_format @movie.description %>

<ul id="meta">
  <li><strong>Director:</strong> <%= @movie.director.name %></li>
  <li><strong>Rating:</strong> <%= @movie.rating %></li>
  <li><strong>Year Released:</strong> <%= @movie.year_released %></li>
  <li><strong>Box Office:</strong> <%= number_to_currency(@movie.box_office_in_dollars) %></li>
</ul>

<%= link_to "Edit '#{@movie.title}'", edit_movie_path(@movie) %>
<%= link_to "Destroy '#{@movie.title}'", @movie, method: :delete %>
<%= link_to "Movies list", root_path %>
