<!DOCTYPE html>
<html>
<head>
  <title>Blerg</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Blerg", root_path, class: 'navbar-brand' %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to "Home", root_path %></li>
            <% if current_author %>
              <li><%= link_to "Log Out", logout_path, method: :delete %></li>
              <li><%= link_to "New Post", new_post_path, :data => {toggle: "modal", target: "#new_post_form", remote: false}  %></li>
            <% else %>
              <li><%= link_to "Log In", login_path %></li>
              <li><%= link_to "Sign Up", signup_path %></li>
            <% end %>
           </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  <div class="container">
    <% if flash.any? %>
      <div class="row">
        <% flash.each do |key, message| %>
          <div class="alert alert-<%= key %>" role="alert"><%= message %></div>
        <% end %>
      </div>
    <% end %>
    <%= yield %>
  </div>
  <%= render partial: 'posts/form', layout: 'posts/modal', locals: {label: 'new_post_form', title: 'New Post'} %>
</body>
</html>
