<!DOCTYPE html>
<html>
<head>
  <title>Blerg</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'application/navbar' %>
  <div class="container" id="content">
    <%= render 'application/flashes' %>
    <%= yield %>
  </div>
  <%= render partial: 'posts/form', layout: 'posts/modal', locals: {label: 'new_post_form', title: 'New Post'} %>
</body>
</html>
