= simple_form_for user do |f|
  = f.input :username
  = f.input :email
  = f.input :password
  = f.input :image_url, label: 'Profile image URL'
  = f.input :bio
  = f.submit our_label ||= "Let's Go!", class: 'btn btn-primary'
